@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  background: #8c8177;
}

.navbar {
  position: relative;
  left: 15vw;
  padding-top: 2vh;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8c8177;
}

li {
  float: left;
  font-family: "Maitree", serif;
  font-size: 40px;
  border-bottom: 1px solid #d7d7d1;
  /* border-left: 1px solid #e0e8ef; */
  /* border-right: 1px solid #e0e8ef; */
}

li a {
  display: block;
  color: #d7d7d1;
  text-align: center;
  /* padding: 14px 16px; */
  padding: 1rem 2rem;
  text-decoration: none;
}

li a:hover {
  background-color: #8c8177;
}

.punctuation {
  font-size: 18px;
  padding-right: 2rem;
  padding-left: 2rem;
  border-right: 1px solid #e0e8ef;
  border-left: 1px solid #e0e8ef;
}
.colon{
    /* font-size: 18px; */
    padding-right: 2rem;
    padding-left: 0rem;
    border-right: 1px solid #e0e8ef;
    /* border-left: 1px solid #e0e8ef; */
  }
  .semicolon{
    /* font-size: 18px; */
    padding-right: 2rem;
    padding-left: 0rem;
    border-right: 1px solid #e0e8ef;
    /* border-left: 1px solid #e0e8ef; */
  }
.quotation {
  padding-right: 2rem;
  padding-left: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  border-right: 1px solid #e0e8ef;
}

.question {
  padding: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  border-right: 1px solid #e0e8ef;
  border-left: 1px solid #e0e8ef;
}

.exclamation {
  padding-right: 3rem;
  padding-left: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  border-right: 1px solid #e0e8ef;
}

.comma {
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  /* border-right: 1px solid #e0e8ef; */
}

.period {
  padding-left: 0rem;
  padding-right: 2.5rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  border-right: 1px solid #e0e8ef;
}

.apostrophe {
  padding-left: 0rem;
  padding-right: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  border-right: 1px solid #e0e8ef;
}

#div1,
#div2,
#div3,
#div4,
#div5,
#div6,
#div7,
#div8,
#div9,
#div10,
#div11,
#div12,
#div13,
#div14,
#div15,
#div16 {
  float: left;
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #e0e8ef;
}

/* #div2 {
  position: absolute;
  top: 20rem;
}
#div4 {
    position: absolute;
    top: 34vh;
    right: 5.5vw;
  }

  #div6{
    position: absolute;
    top: 34vh;
    left: 8vw;
  } */

.drag {
  position: relative;
  left: 21vw;
  font-family: "Maitree", serif;
  font-weight: 300;
  font-size: 30px;
  color: #d7d7d1;
}

img {
  position: relative;
  left: -0.3rem;
  height: 100%;
  width: auto;
}

.box {
  position: relative;
  top: 20rem;
  left: 30rem;
  /* display: inline-block; */
}

.uninteresting {
  position: relative;
  font-family: "Maitree", serif;
  font-weight: 500;
  font-size: 30px;
  color: #d7d7d1;
  width: 15rem;
  height: 5rem;
  padding: 2rem;
  border: 1px solid #d7d7d1;
  text-align: center;
}
.uninteresting-punctuation {
  position: relative;
  top: -4rem;
}

.interesting {
  position: relative;
  left: 25rem;
  top: -15rem;
  font-family: "Maitree", serif;
  font-weight: 500;
  font-size: 30px;
  color: #d7d7d1;
  width: 15rem;
  height: 5rem;
  padding: 2rem;
  border: 1px solid #d7d7d1;
  text-align: center;
}
.interesting-punctuation {
  position: relative;
  top: -0.5rem;
}

.vs {
  position: relative;
  top: -4rem;
  font-family: "Maitree", serif;
  font-weight: 500;
  font-size: 30px;
  color: #d7d7d1;
  left: 20rem;
  top: -7rem;
}

.grid{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 1rem;
    left: 22vw;
    top: 12vh;
  }

  /* .grid-box {
    border: 1px solid black;
    background: white;
    height: 10rem;
    padding: 2rem;
    transition: all .25s;
  } */

  .grid2{
      position: relative;
      top: 28vh;
      left: 50vw;
  }

  .grid3{
    position: relative;
    top: 28vh;
}

.drag{
    position: relative;
    top: 15vh;
}




