@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  background: #8c8177;
}

.navbar {
  position: relative;
  left: 15vw;
  padding-top: 2vh;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8c8177;
}

li {
  float: left;
  font-family: "Maitree", serif;
  font-size: 40px;
  border-bottom: 1px solid #d7d7d1;
}

li a {
  display: block;
  color: #d7d7d1;
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;
}

.question:hover,
.exclamation:hover,
.semicolon:hover,
.colon:hover,
.period:hover,
.comma:hover,
.quotation:hover,
.apostrophe:hover,
.punctuation:hover{
    color: #3f302a;
}

/* .question:active,
.exclamation:active,
.semicolon:active,
.colon:active,
.period:active,
.comma:active,
.quotation:active,
.apostrophe:active,
.punctuation:active{
    color: #3f302a;
} */



li:active{
    color: #3f302a;
}

.punctuation {
  font-size: 18px;
  padding-right: 2rem;
  padding-left: 2rem;
  border-right: 1px solid #e0e8ef;
  border-left: 1px solid #e0e8ef;
}
.colon{
    padding-right: 2rem;
    padding-left: 0rem;
    border-right: 1px solid #e0e8ef;
  }
  .semicolon{
    padding-right: 2rem;
    padding-left: 0rem;
    border-right: 1px solid #e0e8ef;
  }
.quotation {
  padding-right: 2rem;
  padding-left: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  border-right: 1px solid #e0e8ef;
}

.question {
  padding: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  border-right: 1px solid #e0e8ef;
  border-left: 1px solid #e0e8ef;
}

.exclamation {
  padding-right: 3rem;
  padding-left: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  border-right: 1px solid #e0e8ef;
}

.comma {
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.period {
  padding-left: 0rem;
  padding-right: 2.5rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  border-right: 1px solid #e0e8ef;
}

.apostrophe {
  padding-left: 0rem;
  padding-right: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  border-right: 1px solid #e0e8ef;
}



.uninteresting {
  position: relative;
  font-family: "Maitree", serif;
  font-weight: 500;
  font-size: 30px;
  color: #d7d7d1;
  width: 15rem;
  height: 5rem;
  padding: 2rem;
  border: 1px solid #d7d7d1;
  text-align: center;
}
.uninteresting-punctuation {
  position: relative;
  top: -4rem;
}



.vs {
  position: relative;
  top: -4rem;
  font-family: "Maitree", serif;
  font-weight: 500;
  font-size: 30px;
  color: #d7d7d1;
  left: 20rem;
  top: -7rem;
}








/* DRAG AND DROP */
.instructions{
    position: relative;
    top: 20vh;
    left: 18vw;
    font-family: "Maitree", serif;
    font-size: 2rem;
    color: #d7d7d1;
}

#interesting, #boring, #unassigned {
    position: relative;
	width: 200px;
	height: 300px;
	padding: 10px;
	margin-right: 3px;
    text-align: center;
    display: inline;
    font-family: "Maitree", serif;
    font-size: 1.5rem;
    color: #d7d7d1;
    top: 12vw;
    left: 33vw;
}
.block {
    position: relative;
	width: 30px;
	padding: 1px;
	display: block;
	margin: 0 auto 3px;
	text-align: center;
	border: 1px solid #d7d7d1;
	background: #8c8177;
    cursor: move;
    display: inline-block;
    font-family: "Maitree", serif;
    font-size: 1.5rem;
    color: #d7d7d1;
    /* top: 0vw; */
}

.block:hover{
    background: #3f302a;
}


#interesting.correct,
#boring.correct{
  border: 1px solid green;
}

#interesting{
    position: relative;
    top: 40vh;
    left: -5vw;
    padding: 10px;
    border: 1px solid #d7d7d1;
    color: #d7d7d1;
    font-family: "Maitree", serif;
    font-size: 1.5rem;
    /* color: #d7d7d1; */
}

#boring{
    position: relative;
    top: 40vh;
    left: 18vw;
    padding: 10px;
    border: 1px solid #d7d7d1; 
    color: #d7d7d1;
    font-family: "Maitree", serif;
    font-size: 1.5rem;
    /* color: #8c8177; */

}
